# deze file moet je niet verwijderen, ik sync alles met mijn pc waardoor ik niet 
# steeds alles over moet brengen; maar deze bestand stopt dat er junk files worden gemaakt die ik niet nodig heb
.DS_Store