/*
body {
    background-color: #27374D;
    font-family: Arial, sans-serif;
    text-align: center;
    font-family: Arial;
    margin: 0;
    padding: 10px;
}

h1 {
    text-align: center;
    color: #DDE6ED;
    margin-top: 50px;
}

.Onsteamleden {
    text-align: center;
    margin-top: 40px;
}

.Onsteamleden a {
    display: block;
    width: 220px;
    margin: 15px auto;
    padding: 15px;

    background-color: #526D82;
    color: #DDE6ED;

    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

    border-radius: 12px;

    transition: all 0.3s ease;
}

.Onsteamleden a:hover {
    background-color: #9DB2BF;
    color: #27374D;

    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
*/


body {
    background-image: url("../Plaatjes/background2.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 3000px;
    color: #DDE6ED;
}
.ons-team {
    text-align: center;
}
.ons-team h1 {
    font-size: 50px;
}
.member {
    background-color: #27374D80;
    display: flex;
    gap: 50px;
    align-items: center;
}
.member img {
    width: 250px;
    height: auto;
}