body {
    /* tekst */
    text-align: center;
    font-family: Arial;
    /* page */
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    /* background */
    background-image: url("../Plaatjes/background2.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* color */
    color: #DDE6ED;
    margin-bottom: 50px;
}



.ons-team {
    text-align: center;
}

.ons-team h1 {
    font-size: 50px;
}



.member {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 100px;
    min-height: 300px;
    margin-bottom: 15px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.member img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.member-text {
    width: 300px;
    max-width: 500px;
    text-align: left;
}

.gio,
.fabio {
    flex-direction: row;
    background-color: #125cc540;
}

.bing,
.bouk {
    flex-direction: row-reverse;
    background-color: #3b70b940;
}


.homeButton {
    background-color: #125cc540;
    font-size: 50px;
    color: #DDE6ED;
    text-decoration: none;
    width: 500px;
    transition: 0.05s;
        margin-top: 30px;
}

.homeButton:hover {
    transform: scale(1.05);
    background-color: rgba(0, 106, 255, 0.251);
    color: #2577b6;
}
