body {
    /* tekst */
    text-align: center;
    font-family: Arial;
    /* page */
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    /* color */
    color: #DDE6ED;
    /* background */
    background-image: url("../Plaatjes/background1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.homepage {
    /* uiterlijk */
    background-color: #125cc540;
    padding: 10px;
    border-radius: 15px;
    /* size */
    width: 500px;
    height: 620px;
    /* positie */
    margin-left: auto;
    margin-right: auto;

}

h1 {
    font-size: 50px;
}

.hoverable-img {
    /* positie */
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    /* transition */
    transition: 0.05s;
    /* uiterlijk */
    border-radius: 15px;
}

.hoverable-img img {
    width: 400px;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.hoverable-img:hover {
    transform: scale(1.05);
}